elpa/
auto-save-list/
straight/
projectile-bookmarks.eld
projectile.cache
session.*
recentf
eln-cache
tramp
eshell/
projects
debug-adapters/
transient/
.dap-breakpoints
.lsp-session-v1
lsp-cache/
.extension/
dap-ui-repl-php-history